<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> LUMP </title>
    <link rel="stylesheet" href="{{ global.request.basepath }}/assets/css/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ global.request.basepath }}/assets/css/main.css">
    {% if 'contact' in global.request.getRequestUri() %}
    <link rel="stylesheet" href="{{ global.request.basepath }}/assets/css/contact.css">
    {% else %}
    <link rel="stylesheet" href="{{ global.request.basepath }}/assets/css/home.css">
    {% endif %}
</head>
<body>

    <header>
        <nav class="nav">
            <a href="{{ url('home') }}">Home</a>
            <a href="{{ url('contact') }}">Contact</a>
            <a href="">Newsletter</a>
        </nav>
        <div class="clear"></div>
    </header>